<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.text {
				font-size: 14px;
			}
			
			.item {
				margin-bottom: 18px;
			}
			
			.clearfix:before,
			.clearfix:after {
				display: table;
				content: "";
			}
			
			.clearfix:after {
				clear: both
			}
			
			.box-card {
				width: 400px;
			}
		</style>
	</head>

	<body>
		<div id="jpapp"  v-loading="loading">
			<div class="items" >
				<el-card class="box-card" style="display: inline-block;">
					<div slot="header" class="clearfix">
						<span>拍品详情</span>
					</div>
					<div v-for="t in tables" class="text item">
						<span>{{t.type}}:       </span>
						<span>{{t.value}}</span>
					</div>
				</el-card>
				<el-row style="display: inline-block;">
					<el-col>
						<el-card :body-style="{ padding: '22px' }">
							<img :src="img" class="image">
						</el-card>
					</el-col>
				</el-row>
				<el-card class="box-card" style="display: inline-block;">
			<div slot="header" class="clearfix">
						<span>出价记录</span>
					</div>
			<template>
					<el-table :data="jp"  height="190" border style="width: 100%;">
						<el-table-column prop="userid" label="名称" width="100">
						</el-table-column>
						<el-table-column prop="jpdate" label="竞拍时间" width="200">
						</el-table-column>
						<el-table-column prop="jpprice" label="起拍价" width="100">
						</el-table-column>
					</el-table>
				</template>
			</el-card>
			</div>
			<br/>
			<el-form :inline="true" class="demo-form-inline">
				<el-form-item label="出价：">
					<el-input v-model="money" placeholder="不能低于最高竞拍价"></el-input>
				</el-form-item>
				<el-form-item>
					<el-button type="primary" @click="jingjia">竞 拍</el-button>
				</el-form-item>
				<el-form-item>
					<el-button @click="goToPage()" type="info">刷 新</el-button>
				</el-form-item>
				<el-form-item>
					<el-button @click="showView('splb.html')" type="warning">返回列表</el-button>
				</el-form-item>
			</el-form>
			<br/>
		</div>
	</body>
	<script>
		var app = new Vue({
			data: {
				jl: {
					userid: '',
					pcid: '',
					jpdate: '',
					jpprice: 0
				},
				money:0,
				onemoney:0,
				img:'',
				id: '',
				jp:[],
				pmp: [],
				loading: true,
				tables: [{
						type: '名称',
						value: '1',

					},
					{
						type: '描述',
						value: '2',

					},
					{
						type: '开始时间',
						value: '3',

					},
					{
						type: '结束时间',
						value: '4',

					},
					{
						type: '起拍价',
						value: '5',

					}
				]
			},
			methods: {
				jingjia() {
					let _this = this;
							if(_this.money > _this.onemoney) {
								_this.jl.userid = indexApp.user[0].userid;
								_this.jl.pcid=_this.pmp.pcid;
								if(_this.money-_this.onemoney>=_this.pmp.pcstartingprice){
								_this.jl.jpprice = _this.money;
								$.ajax(`http://127.0.0.1:8080/api/paimai/addjp`, 
								{
									type: "post",
									contentType: "application/json",
									data: JSON.stringify(_this.jl),
									dataType: "json",
									success(date) {
										if(date.code == "200") {
											_this.$message(date.msg);
											indexApp.showView('jp.html');
										} else {
											_this.$message(date.msg);
										}
									}
								});
								}else{
								this.$alert('请开出比最高报价者高'+this.pmp.pcstartingprice+'的价位');
								}
							}else{
								this.$alert('请开出比最高报价者更高的价位');
							}
				},
				goToPage() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/paimai/shapin/${_this.id}`, function(date) 
					{
						_this.pmp=date;
						_this.img=date.pcimg;
							_this.tables[0].value=_this.pmp.pcname;
							_this.tables[1].value=_this.pmp.ddescribetext;
							_this.tables[2].value=_this.pmp.startdate;
							_this.tables[3].value=_this.pmp.stopdate;
							_this.tables[4].value=_this.pmp.pcfloorprice;
						$.getJSON(`http://127.0.0.1:8080/api/paimai/jingpaijia/${_this.id}`, function(date1) 
						{   
								_this.jp = date1.list;
								$.each(_this.jp, function(i,temp) {
									if(i==0){
									_this.onemoney=temp.jpprice;
									}
									$.getJSON(`http://127.0.0.1:8080/api/paimai/jingpairen/${temp.userid}`, function(date2)
									{
										_this.jp[i].userid=date2.username;
									});
								});
						});
					});
				},
				showView(url) {
					$('#cnt').load(url);
				}
			},
			mounted() {
				setTimeout(() => {
					this.loading = false;
					this.id = sessionStorage.getItem('pcid');
					this.goToPage();
				}, 1000);

			}
		}).$mount('#jpapp');
	</script>

</html>