<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>拍卖商品列表</title>
	</head>

	<body>
		<div id="splbapp" v-loading="loading">
			<div class="forms">
				<el-form :inline="true" :model="form" class="demo-form-inline">
					<el-form-item label="名称:">
						<el-input v-model="form.pcname" placeholder="名称"></el-input>
					</el-form-item>
					<el-form-item label="描述:">
						<el-input v-model="form.describetext" placeholder="描述"></el-input>
					</el-form-item>
					<el-form-item label="起拍价:">
						<el-input  v-model="form.pcfloorprice" placeholder="起拍价"></el-input>
					</el-form-item>
					<el-form-item label="开始时间:" style="margin-right:-100px;">
						<el-col :span="17">
							<el-date-picker type="date" placeholder="选择日期" v-model="form.startdate" style="width: 80%;"></el-date-picker>
						</el-col>
					</el-form-item>
					<el-form-item label="结束时间:">
						<el-col :span="16">
							<el-date-picker type="date" placeholder="选择日期" v-model="form.stopdate" style="width: 80%;"></el-date-picker>
						</el-col>
						<el-button @click="chaxun" type="primary">查询</el-button>
					</el-form-item>
				</el-form>
			</div>
			<div class="items">
				<template>
					<el-table :data="tables.list" height="500" border style="width: 100%" :row-class-name="tableRowClassName">
						<el-table-column prop="pcname" label="名称" width="200">
						</el-table-column>
						<el-table-column prop="ddescribetext" label="描述" width="200">
						</el-table-column>
						<el-table-column prop="startdate" label="开始时间" width="200">
						</el-table-column>
						<el-table-column prop="stopdate" label="结束时间" width="200">
						</el-table-column>
						<el-table-column prop="pcfloorprice" label="起拍价" width="200">
						</el-table-column>
						<el-table-column label="操作">
							<template slot-scope="temp" >
								<el-button type="success" @click="showInfo(temp.row.pcid,temp.row.startdate,temp.row.stopdate)" slot="reference" plain>竞拍</el-button>
							</template>
						</el-table-column>
					</el-table>
				</template>
			</div>
				<el-row>
				<el-col :span="24">
					<el-pagination v-if="tables.total!=0" :background="true" :pager-count="4" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="tables.pageNum" :page-size="tables.pageSize" :total="tables.total" :page-sizes="[3,6]"  layout="total, sizes, prev, pager, next, jumper">
					</el-pagination>
				</el-col>
			</el-row>
		</div>
		<!-- main end-->
		</div>
	</body>
	<script>
		var app = new Vue({
			data: {
				loading:true,
				form: {
					pcname:null,
					ddescribetext:null,
					startdate:null,
					stopdate:null,
					pcfloorprice:null
				},
				tables: []
			},
			methods: {
			tableRowClassName({row, rowIndex}) {
	        if (rowIndex === 1) {
	          return 'warning-row';
	        } else if (rowIndex === 3) {
	          return 'success-row';
	        }
	        return '';
	      },
				de(){
					let _this=this;
					_this.form= {
					pcname:null,
					ddescribetext:null,
					startdate:null,
					stopdate:null,
					pcfloorprice:null
				}
				},
				showView(url) {
					$('#cnt').load(url);
				},
				chaxun(){
					let _this=this;
					this.goToPage(1,3,_this.form.pcname,_this.form.ddescribetext,_this.form.startdate,_this.form.stopdate,_this.form.pcfloorprice);
				},
				goToPage(n,s,pcname,ddescribetext,startdate,stopdate,pcfloorprice) {
					let _this=this;
					$.getJSON(`http://127.0.0.1:8080/api/paimai/commdity/${n}/${s}/${pcname}/${ddescribetext}/${startdate}/${stopdate}/${pcfloorprice}`, function(date)
					{
						_this.de();
						_this.tables=date;
					});
				},
				showInfo(pcid,startdate,stopdate) {
					let _this=this;
					$.getJSON(`http://127.0.0.1:8080/api/paimai/date/${startdate}/${stopdate}`, function(date){
						 if(date.code=="100"){
						 	_this.$message(date.msg);
						 }else if(date.code=="200"){
						 	_this.$message(date.msg);
						 }else{
							sessionStorage.setItem('pcid', pcid);
							indexApp.showView('jp.html');
						 }
					});
					
				},
				handleSizeChange(val) {
					let _this=this;
					this.goToPage(this.tables.pageNum, val,_this.form.pcname,_this.form.ddescribetext,_this.form.startdate,_this.form.stopdate,_this.form.pcfloorprice);
				},
				handleCurrentChange(val) {
					let _this=this;
					this.goToPage(val,this.tables.pageSize,_this.form.pcname,_this.form.ddescribetext,_this.form.startdate,_this.form.stopdate,_this.form.pcfloorprice);
				}
			},
		mounted() {
		setTimeout(() => {
          	this.loading = false;
        }, 1000);
        	this.goToPage(1,3,null,null,null,null,null);
			}
		}).$mount('#splbapp');
	</script>

</html>